<div class="hero-unit">                                                                                                             
 <a href='https://stageccp.dev.cdc.nicusa.com/CommonCheckout/Commoncheckpage/Default.aspx?token={{sometext}}' target='_blank' >Go to pay</a>                                                                                                           
</div>